.page {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    var(--primary-pink) 0%,
    var(--primary-blue) 80%
  );
}

.backBtn {
  background: white;
  border: 2px solid black;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  color: black;
  padding: 8px 20px;
  margin: 20px 20px 0;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background: var(--primary-pink);
    color: white;
    border: 2px solid rgb(255, 255, 255);
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
  border: black 1px solid;
}

.hero {
  display: flex;
  background: white;
  border-bottom: 2px solid #fce4ec;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.imageContainer {
  flex: 1;
  height: 400px;
  .petImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.titleInfo {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 3.5rem;
    color: var(--primary-orange);
    margin: 0;
  }
  .badge {
    display: inline-block;
    width: fit-content;
    background: var(--primary-green);
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    margin-top: 10px;
    font-weight: bold;
  }
}

.detailsSection {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 40px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.infoCard {
  h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border-right: 4px solid var(--primary-pink);
    padding-right: 12px;
    padding-right: 10px;
  }
  .grid {
    .item {
      display: flex;
      justify-content: space-between;
      padding: 12px 12px 12px 0;
      border-bottom: 1px solid #eee;
      .label {
        color: black;
        font-weight: bold;
      }
      .value {
        color: var(--primary-green);
        font-weight: bold;
      }
    }
  }
}

.storyCard {
  h3 {
    color: var(--primary-blue);
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  p {
    line-height: 1.8;
    color: black;
    font-size: 1.1rem;
  }
}

.adoptLink {
  display: inline-block;
  margin-top: 30px;
  background: var(--primary-orange, #ff9800);
  color: white;
  padding: 15px 40px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  &:hover {
    transform: translateY(-5px);
  }
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 1.5rem;
  color: var(--primary-pink);
}
