.page {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    var(--primary-blue) 0%,
    var(--primary-pink) 80%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.card {
  background: white;
  width: 100%;
  max-width: 1000px;
  display: flex;
  border-radius: 30px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: default;
}

.visualSide {
  flex: 1.2;
  background: #fdf2f5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageWrapper {
  height: 350px;
  .petImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.petOverlay {
  padding: 30px;
  max-width: 500px;
  min-width: 500px;
  text-align: center;
  gap: 12px;
  label {
    font-weight: bold;
    color: var(--primary-orange);
    font-size: 2rem;
    display: block;
    margin-bottom: 10px;
  }
}

.petSelect {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
}

.detailsGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 0.9rem;
  color: black;
}

.formSide {
  flex: 1;
  padding: 50px;
  h2 {
    color: var(--primary-blue);
    font-size: 2.2rem;
    margin-bottom: 5px;
  }
  .subtitle {
    color: var(--primary-orange);
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.inputGroup {
  margin-bottom: 20px;
  label {
    display: block;
    font-size: 0.85rem;
    font-weight: 700;
    color: black;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;
    &:focus {
      border-color: black;
      outline: none;
      background: #fff;
    }
  }
  .inputError {
    border-color: red;
    background: #fff5f5;
  }
}

.submitBtn {
  width: 100%;
  padding: 16px;
  background: var(--primary-orange);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
  &:hover {
    background: var(--primary-pink);
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px var(--primary-blue);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: #f06292;
}
